<h2>Preface</h2>
<p>Hola Alfresa, bienvenida:) This is the newest anniversary platform, a website that is accessible to you from 
    anywhere in the world with an internet connection. I have put a lot of brain power and love into this, and I think you'll love it. 
    Let me give you a run down of the newest features and benefits of this project:)     
</p>
<p>- It's a website! You can access its content from any device at any time. </p>
<p>- It's updatable: I can constantly make improvements and add new features and content.</p>
<p>- Every so often ( aiming for a weekly basis ) there will be a new message or thought from me displayed in the weekly inbox. </p>
<p>- There is a comprehensive navigation bar to visit different content </p>
<p> I love you immeasurably, silly Alfresa. I'm ecstatic to accomplish this milestone with you. Whatever you need, I will always be there.
    For now, go explore what I have to offer:) 
</p>
<p>
    P.S: I've spent countless hours researching ways to make this website 
    possible, including learning a lot of new languages, debugging for hours, consulting many sources. There might be some bugs that 
    escaped my reach, so feel free to explore the contents of the website and notify me should something be wrong. 
</p>
