<div class="container">
<div class="child">
    <p class="poem">
        It is not your conversation <br>
That keeps me entertained<br>
But rather the way you look at me<br>
That makes me feel sustained<br>
It's the curve of your lips<br>
And the curl of your hair<br>
T'is all of the little things<br>
That make me stop and stare<br>

It is not your intelligence<br>
That drew me close to you<br>
It is not your sense of humour<br>
That has thrown me all askew<br>
It's the touch of your hand<br>
And the thoughts in your head<br>
T'is all of the little things<br>
The things that don't get said<br>

It's not your vivid history<br>
That's made me fall in love<br>
It's not your comprehension<br>
Of the world or what's above<br>
It is your soft temperament<br>
And the way you smile at me<br>
T'is all of the little things<br>
That make me want to see<br></p>
</div>
<div class="child">
<p>
It's not when we are talking<br>
That I want to know some more<br>
It is not whilst you teach me<br>
I learn what I'm looking for<br>
It is the time we spend alone<br>
And the time in utter silence<br>
T'is all of the little things<br>
That form a strong alliance<br>

It's not the job you work so hard<br>
That shows your true commitment<br>
It's not your crazy habits<br>
That give me great fulfilment<br>
It is the way you use your hands<br>
And the way I have been chosen<br>
T'is all of the little things<br>
Why I know silence is golden<br>
    </p>
</div>
</div>