
<div class="container">
    <div class="pic">
        <img src="assets/img/comp1.jpg" alt="image">
    </div>
    <div class="content">
        <h2>Alfresa y Coquito licking un helado de Fresita</h2>
        <p>
            And so we begin:) This is the picture I wake up to everyday; every time I open my phone, every time I want to see your smiling face.
            You look so happy sharing a sweet helado de fresa with me. This is a very happy time and one of my favorite pictures of us. 
            I can see all the love you have for me in your eyes, in the way you look at me. And it makes very happy and fortunate to be the person 
            to have received all your love for the last 5 years. And for the rest of our lives. Juntitos y abrazaditos por siempre. 
        </p>
    </div>

</div>