<mat-tab-group animationDuration="1000ms" color="accent">
    <mat-tab label="Helado de Fresita"><app-comp1></app-comp1></mat-tab>
    <mat-tab label="Under the Sun"><app-block title="Under the Sun" imageName="2">
      <p>
        Hey Alfresi. Do you remember where this picture was taken? Me neither, haha. Jkjk. I thinkkk it was taken in 
        that lake in Las Colinas we used to go to often. Remember the sunsets there? I remember the glow of the sun on the water,
        the sweet breeze that caressed our hair as we walked by the promenade, holding hands. Truly magical to be there, at our age, 
        next to the one we love. We should go again sometime, anytime. To stroll along the lake path. To have that adventurous
        spirit that overtook me that one day when I said "wanna go somewhere new to explore?". I can't recall if you said "hmm where exactly?"
        and I said "anywhere, whatever we find", but that's how it felt. And I'm glad we then found one of our favorite spots to play guitar, 
        sing, and talk about life and each other. I hope wherever we are in the future it has a lake nearby, too.  
      </p>
    </app-block></mat-tab>
    <mat-tab label="Strawberry Queen"><app-block title="Look at the size of that:o" imageName="3">
      <p>
        Alfresi, sheeeesh that is one huge strawberry milkshake?? This typical Bostonian product consisted of waffles (or is it shortcake?)
        helado, and every form of strawberry imaginable. Literally meant for you, a silly Alfresi that wanders the world in search of the perfect
        manifestation of fresitas. I think this is a super cute picture of you, I treasure it greatly. It's the right combination of "omg you're
        so freaking cute", "Whaaaat is thatttt??", and "Aww I love this girl so much". Finding new food anywhere we go is our thing, haha. To
        a healthy extent, I hope we continue to explore the gastronomical horizons this world has to offer. And I hope you can be my tasting partner.
        I also hope we are well off enough to have the luxury of exploring these delicacies x.x but more on that later, haha. Let's enjoy every 
        meal together:) 
      </p>
    </app-block></mat-tab>
    <mat-tab label="Japanese Night Out"><app-block title="Japanese Night Out" imageName="4">
      <p>
        What a night. What a day. What a trip. I always love having you in Boston. Hosting you and showing you around is fun and sweet. I often 
        think I know the city pretty well, but when you come I always end up discovering new places, like Little Italy in the North End, where we 
        had that not-so-good tiramisu:') But we also have a nice lunch with authentic Italian food. Such are the invaluable memories I construct 
        when we are together. And of course, going back to this lovely night, I love that you share my passion for Asian food. There is just
        something very comforting to it, I can't quite put my finger on it, although if I had to guess I would say growing up in my neighboorhood 
        there were a lot of "Chifas", so Peruvian-Asian gastronomy. Ever since I was little it was my favorite:) I would always eat arroz chaufa
        con camarones and wonton soup. Yummy! Anyway, I digress:') You looked so lovely this night, and I think as a couple we were radiant. It 
        is a nice feeling going out and getting served as a couple. To many more outings! And more Japanese food o.O 
      </p>
    </app-block></mat-tab>
    <mat-tab label="Corpus Christi"><app-block title="Under the Sun 2" imageName="5">
      <p>
        This location I do remember. Corpus Christi! We went here after about an hour of driving because my dad said there used to be the best 
        fried fish in this one restaurant that had relocated. So we followed it and finally got to it. Maybe it wasn't actually the same 
        restaurant, but we were pretty hungry. I also do remember we were mad at each other for some reason lol I do not recall, so my guess, 
        like most occasions, is that it was something dumb at the moment. But dang, the picture is so good. It looks like one of those pictures 
        in movies where the characters are old and remenisce of better, older times in their youth, at a beach, with seagulls squeaking in the 
        background, with the smell of ocean and algae, with sand in your toes, and that relentless warmth that showered the bay. But it was only 
        a few years ago that this picture was taken. And sadly, every time you look at it, there will be more time in between, evidence of our aging.
        But I am grateful to have constructed these memories with you. I would not have had it any other way. Tho the aging clock will never stop, 
        I want to be more in the present and enjoy every minute of my life. You are in my vision, and so I hope we may rejoice in the beauty of life 
        and the gifts God has to offer. Though the journey ahead is unknown, please be with me in it. 
      </p>
    </app-block></mat-tab>
    <mat-tab label="Tj Lee?"><app-block title="Under the Sun" imageName="6">
      <p>
        I don't attribute a lot of significance to this picture necessarily, but I think it's a funny picture because we are trying to
        look sexy, haha. The typical hollywood sunglasses look. Of course, I always make a weird facial expression. But it's a must have 
        in every picture of us. I think we have come a long ways in picture taking overall. I mean I alwways take breathtaking pictures 
        of you, but you're getting better too:') ish haha. To more funny pictures! 
      </p>
    </app-block></mat-tab>
    <mat-tab label="Miraflores"><app-block title="It's a Miraflores cat!!" imageName="7">
      <p>
        From our trip to Peru. I still think it's surreal that you got to come with my family and I to my homeland. It meant a lot to me for 
        many reasons: I had been homesick for the longest time, I missed the food, I missed my culture, I missed my family, and finally you could 
        see where I grew up, the culture and food around me, and my loved ones, tho not many, full of love and humour. They all loved you and often
        talk about you. I hope we can go back sometime soon. Anyway, this picture is proof you do like cats (so we should totally get one when
        we move in together). 
      </p>
    </app-block></mat-tab>
    <mat-tab label="Barranco"><app-block title="Inca Cola" imageName="8">
      <p>
        La comidaaaa y la inca colaaaa ahhhh. Haha, it's sad that I'm not as dependent on Peruvian food anymore since I don't have it ever since
        I came to college:'( You truly must remind me to pick up new recipes from my mom, can't end the gastronomical legacy! And I can't possibly
        deprive our children from the beauty of Peruvian cuisine. Tho there are many nations' food I delight myself in, like Phillippino Pho, Japanese
        Ramen, and Italian Alfredo Sauce (not quite Italian but still), I will always be biased to my food. And I'm sure you won't mind having more 
        Peruvian food too, haha. I look forward to the future and our good (but of course healthy) food repertoire. Salud!  
      </p>
    </app-block></mat-tab>
    <mat-tab label="AOT"><app-block title="Our enemies are on the other side of the sea" imageName="9">
      <p>
        God tier reference. If you know you know. Besides that, you look deep in thought here:') thinking of your upcoming nursing semester?
        Pediatrics or cardiac unit? haha, I wonder if you've made up your mind yet or if it will be dependent on the offers that you receive; maybe 
        a mix. I hope it all goes well and you can find a place where you will be happy and can eagerly ameliorate your nursing skills to get closer
        to where you want to be. And if it happens to be in a city with good sofware engineering opportunities, all the better! But I digress (like
        always). Do you remember what was on your mind as you're looking at the Peruvian Pacific Ocean?
      </p>
    </app-block></mat-tab>
    <mat-tab label="On a 25th"><app-block title="Hmm" imageName="10">
      <p>
        Alfresi, I vividly remember this place. We sang, played guitar, sat on the school tables/benches, recorded a video, and then we left to
        some place I don't quite remember. Do you? It was also on a 25th:) I really like that lila sweater. It goes well with you, tho I have 
        not seen you wear that color recently:o I hope you still like it. Ahh the name is lavender haha, lila is the same I think o.O should we
        upload our songs to Youtube? haha, topic for another day. 
      </p>
    </app-block></mat-tab>
    <mat-tab label="Plaza de Cuzco"><app-block title="Cuzcooo" imageName="12">
      <p>
        Cuzco was a beautiful place. It was a little hard to get a mouthful of air, but it had splendid views all over, so much nature and pure air
        all around us. I hope you remember dearly our trip up to one of the wonders of the world. Remember all the people that surrounded us in the
        plaza? They were trying to sell us sooo much stuff. And turns out it was more expensive than if we had obtained it from within the plaza:') 
        ultimate scam haha. And the Ray bunsss, he swore they were original, but we quickly found out the opposite when mine broke all of a sudden lol 
        I think yours lasted much longer but could still tell they were not original. Anyway, that's part of the Peruvian experience:') It was overall
        a once in a lifetime experience, and I am ecstatic you were there to live it with me. 
      </p>
    </app-block></mat-tab>
    <mat-tab label="Lucy's"><app-block title="Quintessential Wine Tasting" imageName="13">
      <p>
        Alfresi, why are you drinking when you are not 21 yet :o haha jk drinking age in Peru is 18. That was the best wine I ever had 
        at the time, very sweet, barely bitter, straight out of Lucy's vineyard. You loved it too, clearly:') We were totally not dressed 
        for it, but we could not refuse the offer, haha. Though it is an acquired taste, I wonder if our palatte has matured. Will have to test
        it sometime.. 
      </p>
    </app-block></mat-tab>
    <mat-tab label="Best Pic"><app-block title="What a cutie" imageName="14">
      <p>
        Of course, I would not be a good boyfriend if I ONLY had good pictures of you. In fact I would argue it's egalitarian: since there are 
        so many bad pictures of me, there must at least be some funny ones from you. Let it be known I have a few dozens of these genre of pics o.O 
        should I ever see the need, I can unleash a lot to the world :O haha. So be nice to me (insert cute emoji here - I would if I was better at this)
      </p>
    </app-block></mat-tab>
    <mat-tab label="Galveston"><app-block title="Blonde You:O" imageName="15">
      <p>
        Alfresi, I totally forgot you were blonde at some point:') And look at your hair! So longgg. That makes me think of high school, 
        when you cut your hair short, almost to the shoulder level. Quite some changes in your look during the last 5 years! I wonder if there
        are that many changes on my side as well :o (maybe you should make mee a website to see). Regardless, you have always looked beautiful
        to me:) No matter how your looks change throughout the years, I'll always be very enamored of you, even more so attracted. You'll always
        be my little Alfresi, no matter what. I hope you can always see me as you mischivious Coquito too.
      </p>
    </app-block></mat-tab>
    <mat-tab label="Homecoming"><app-block title="First Homecoming together" imageName="16">
      <p>
        Aww, our first homecoming together, as a couple. I never really cared for these events in high school, and I did not have anyone to ask out
        anyway. I loved high school ever since you joined my life. It was just so much more fun and enjoyable. And we do match;) We look kinda
        hot, haha. We also have a pic matching with two other couples. It was a overall a fun night because I was with you. I hope that in our years
        in college we make a lot of connections and friends. It would be fun attending formal events amongst each other, wouldn't it? 
      </p>
    </app-block></mat-tab>
    <mat-tab label="Klyde Warren"><app-block title="Oh no they are taking a picture of us?" imageName="17">
      <p>
        Haha this is one of those pictures we actually planned. Interesting outcome, I'd say. I told you to step back and forth to create the effect that we are
        walking. We had definitely been playing and running in the playground. I was sweaty so I took out my shirt and remained in undershirt, remember?
        You had a lovely dress:) back when they didn't reveal skin O.O hahahahhaa no I do like the dresses now, tho I wish I was there to enjoy 
        them all only :'o I better see top Aubree beauty this week haha. Also, I'm excited to go back to Klyde warren park, our origin:) I wonder 
        if it has changed at all.. 
      </p>
    </app-block></mat-tab>
    <mat-tab label="Grapevine"><app-block title="Promised to each other" imageName="18">
      <p>
        This picture was taken for the "reception" after my parent's second wedding in the US. I thought was very cute, that they wanted to
        renew their votes here in the U.S. And that they made us part of it too. I clearly remember it being a windy day. Like soooo windy, the plates, 
        food, wrappers, napkins kept flying all over. But what I remember most is what my mom did afterwards. She gave you her bouquet of flowers
        and a blessing as a sign of good will and hope that indeed we will be marrying each other in the near future. And I loved that. I know we've
        had problems throughout the years, but I know my mom has given us her blessing and support when the time comes. And I'm excited for the times
        I reach out to her for help on my proposal. And wedding planning, and just life advice in general. It's truly a big step, and I know we will 
        be ready when the time comes, and make it the best time for ourselves:) 
      </p>
    </app-block></mat-tab>
    <mat-tab label="Duncan, OK"><app-block title="Cold and Classic" imageName="19">
      <p>
        Alfresi, I think this pic was taken during our first year together. I loved taking you to Oklahoma because you got to see my grandma and 
        we got to be in a new place together. It's one of those pictures where I didn't like the way my hair looked, but now looking back I love
        this picture and your little mouth pouch. It's lovely. You are so pale too cause it's the dead of winter lol at the time this was very cold, 
        but now I know a new colder at Boston:') Anyway, my grandma says hi. 
      </p>
    </app-block></mat-tab>
    <mat-tab label="Japanese Gardens"><app-block title="1.5 yearssss" imageName="20">
      <p>
        A memory from this beautiful place. This was a very special outing, surrounded by majestic scenery and a pristine collection of flowers
        and nature that was unparalleled. You shined amongst all the beauty there. We look so happy in this picture:) It's ridiculous how many
        happy memories I have formed with you and I treasure every single one of them. We have come a long ways, 5 years! It's insane. Reading 
        our advents I describe 2 years as such a substantial time, and look at us now.. more than twice that amount of years later. Though 
        we still face the long distance, I do feel like we are growing together, even if physically separate. And I will continue to do so as 
        we age and face new challenges, be that a new internship, a new job, grad school, a new apartment, a study abroad, or whatever it may be.
        As long as I can count on you for support and love, I know we will continue to strengthen our already strong bond. To more years to come!
      </p>
    </app-block></mat-tab>
    <mat-tab label="Cuddles"><app-block title="Cuddles: Honorable Mention" imageName="21">
      <p>
        Ahhhh you're so lovely when you give me that look. I can't virtually say no to you before such an adorable and innocent face. I had 
        never really cuddled someone in my life. Not in a romantic setting, at least. It is such a different feeling, truly undescribable.
        But I shall try. Cuddles with you are color warmth. They are cozy, comforting, and safe. Cuddles are the solution to many problems.
        Feeling down? A warm cuddle will cheer you up and comfort you. Feeling tired? A nice cuddle will revitalize you as your body falls 
        into a resting state, skin to skin with the person you love the most in the world. Want to relax and watch a movie? Cuddles will make
        the experience a thousand times better, and who knows, they might escalate to something spicier. 
        No particular reason at all? Cuddle anyway!   
      </p>
    </app-block></mat-tab>
    <mat-tab label="Best Restaurant"><app-block title="Celebrating New Year's" imageName="22">
      <p>
        What a better way to start a new year than to go to Olive Garden?? I mean than to be with your loved one, your one and only. 
        I truly love being blessed enough to start a new year with you. We've been able to kiss under the New Year's fireworks, we
        have eaten our 12 grapes and thrown rice and lentles at each other for good prosperity. I have vivid memories at the Dallas 
        bridge, walking by, finding a place to park, and looking for the best spot to watch over the city and the big ball. I Look
        forward to more celebrations, perhaps in new places :o 
      </p>
    </app-block></mat-tab>
    <mat-tab label="First"><app-block title="This is beautiful" imageName="23">
      <p>
        Alfresi, my heart moves when looking at this picture, one of the firsts we ever had tgether. This was the first choir concert
        I attended, and was nervous because we had barely started our relationship. I didn't know exactly what to do. My mom told me 
        "isn't it a choir concert? So dress up and buy her flowers!" And so I did. I'm grateful she told me so, because it started a 
        nice tradition of giving you flowers for most events. I think you commented it was cute that I dressed up for your event. I'm 
        glad. I love that video of us where Christian comes with you and says something in a high pitched tone, and you look at my roses
        and are speechless with the biggest smile I've ever seen until that point. You looked a bit flustered, haha. I remember saying 
        the concert was incredible! And then giving you a kiss on the cheeck. That reminds me of our first official kiss. Not the one on
        the car (my badddd), but the one at your door, as we dropped you off. It's still a surreal memory, with the amber tone of the setting
        afternoon and falling sun, asking you "Would you give me the honor of being your boyfriend?" I bet you've never heard that one before.
        Such a warm feeling, being surrounded by your arms and feeling your soft lips touch mine. Us both with the biggest smiles, red cheeks
        because we are so flustered, it's all so unexpected, so sudden, so... right. It's a conglomeration, a class of feelings of attraction, love, 
        success, achievement, a feat of confidence, a glorious triumph. One of my best accomplishments ever:) Cuando pienso en ti, yo siento pasos 
        de gigante, as the song I'm listening to says. Wow, Aubree Rooney, you still make my heart go fast. I hope you still what I feel, and that 
        you treasure our beginning; they laid out a solid foundation for us to survive the long distance. I miss you a lot, but it will all be worth
        it once we make a life together without scarcity. Te amo. 
      </p>
    </app-block></mat-tab>
    <mat-tab label="Gorgeous"><app-block title="Breathtaking" imageName="1">
      <p>
        This is, I have made up my mind, my favorite picture of you. I love how I'm able to capture your aura, your self. 
        You are such a giggly person. You are good of heart and compassionate, and I know those values will make you stand out as a nurse.
        But they also make you stand out as a girlfriend. I love your entire figure. Your shape. What a model. Your hair and its curves
        mesmerize me. I can look at them all day long and find new patterns and meaning. I love all of you. You are such a passionate lover. 
        Your love is intense fire, I can always feel its warmth from wherever I am. I love your evolving sense of fashion. I like admiring
        every line and drawing on your body. I'm excited to collect more memories, angles, and thoughts of you. Continue to be my muse, principessa. 
      </p>
    </app-block></mat-tab>
    <mat-tab label="Prom"><app-block title="What a memorable night" imageName="26">
      <p>
        Prom day! A day much expected by us, where careful planning and consideration went it. You looked absolutely ravishing. You wore a 
        beautiful dress that matched your skin tone - a very delicate, pastel tone. I loved getting you a corsage to match. It's quite a 
        tradition, and I'm happy that you were my date. Although we got some pictures taken by others the standard way, I love our selfies.
        In fact, you'll notice a lot of them in this collection. They are just so much more natural and are a true reflection of us. We may not
        nail every selfie, but we sure convey our emotions and energy in them. This one is one of those. 
      </p>
      <p>
        Though the prom dance was an experience on itself, what happened afterwards was much more exciting and would leave a foundation
        for similar future events;) I've loved them ever since.
      </p>
    </app-block></mat-tab>
    <mat-tab label="Mike's"><app-block title="Ayoooo" imageName="27">
      <p>
        This was too iconic not to include:') During your last visit to Boston we learned that we enjoy Mango Mikesss. 
        I hope your visits to Boston have made a good impression on you. I want you to enjoy this city as much as I enjoy Austin 
        when I visit. I also hope you think a bit better of my fraternity:'))) it's a tight community and they will have our back 
        should we need anything. I look forward to many more outings in both our cities:)
      </p>
    </app-block></mat-tab>
    <mat-tab label="Beautiful Couple"><app-block title="Cuties" imageName="30">
      <p>
        Every now and then we take pictures that are quite extraordinary. Every moment with you is extraordinary, that's for sure.
        This picture illustrates to me the excitement of adventure with you. Venturing into the unknown is scary but exciting, 
        especially with you as my partner. I've loved every quest we have ever been in, and I'm so excited for all the adventures
        yet to unlock. We have all the time to do them. Let's make sure to enjoy them all and take a souvenir for future remembrance.
        I love looking back to our pictures. Who knows, maybe the one we take today will give us a huge smile in a not so remote 
        future:)
      </p>
    </app-block></mat-tab>
 
    
    <mat-tab label="Beginnings"><app-block title="Happy 5 Years, my love" imageName="36">
      <p>
        Alfresi, look at how far we've gotten. 5 years together loving the same person is not a trivial milestone. As I hope
        you have seen by this entire collection, we have collected quite the number of anecdotes. So many adventures, dates, 
        videocalls, text messages, snaps (over 1000!). So many laughs, tears, kisses, touches, cuddles! So much relentless love, care
        , compassion, passion, determination and tenacity have kept us deeply in love with each other and are the reason why we are
        here today. You are my Alfresi Azucar. My partner in crime. My lover, my friend. My supporter and biggest fan. My inpiration
        and muse. You are every note on the piano and every guitar strum. You are day and night. My sunrise and sunset. Never have I been
        so exposed and vulnerable than now. Every minute with you. You see my true self constantly. It is scary to be that naked to someone.
        But it is also a beautiful thing to not hold anything down, to be my true self with someone I adore. I have learned a lot about myself 
        throughout our relationship and I know you have too. I continue to learn from you even now after 5 years. Imagine all I still have
        to learn for the next 5! 
      </p>
      <p>
        Haha, this is one of my favorite photos of ourselves. One of our few professional ones. It was a lot of firsts for me! I had never been
        in a picnic before. I had never drank sparkling wine in public with my beloved. Just your face illustrates the beauty of this moment and 
        the overwhelming happiness that surrounded us. I hope that as you read this, we are laying on the grass of Klyde Warren Park sipping
        some champagne like the big boy and big girl we are now, delighting ourselves in a piece of tres leches, and being overwhelmingly
        grateful for yet another life milestone. Happy Anniversary, Alfresi Azucar. 
      </p>
      <p>
        Now face me for your anniversary kiss;)
      </p>
    </app-block></mat-tab>


  </mat-tab-group>
